{% extends "base.html" %}
{% load i18n thumbnail %}

{% block content %}
<div class="page-header">
    <h1>{% trans "Testimonials" %}</h1>
</div>

<div class="company-testimonials-list">
    {% for object in object_list %}
    <div class="row company-testimonial">
        {% if object.image %}
        <div class="span9">
            <div class="well">
                {{ object.text|safe }}
                <h3>{{ object.firstname }} {{ object.lastname }}</h3>
                <small>{{ object.title }}</small>
            </div>
        </div>
        <div class="span3">
            <img src="{% thumbnail object.image 200x200 crop='smart' quality=100 %}" alt="{{ object.company }}">
        </div>

        {% else %}
        <div class="span6">
            <div class="well">
                {{ object.text|safe }}
                <h3>{{ object.firstname }} {{ object.lastname }}</h3>
                <small>{{ object.title }}</small>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
